html {
    box-sizing: border-box;
    background:#2b2d42;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }

  body {
    margin: 0;
    padding: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  input {
    width: 100%;
    padding: 20px;
  }
  
  .search-form {
    max-width: 400px;
    margin: 0px auto;
  }
  
  input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 10px solid #F7F7F7;
    width: 100%;
   
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }
  
  .suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    /*perspective: 20px;*/
  }
  
  .suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    color: #000;
  }
  
  .suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
  }
  
  .suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
  }
  
  span.population {
    font-size: 15px;
  }
  
  .hl {
    background: #ffc600;
  }

  header{
    text-align: center;
    background-color: #690500;
    height: 16vh;
    display: flex;
    justify-content:center ;
    align-items: center;  
    width: 100vw;
  }

  footer {
    text-align: center;
    background-color: #690500;
    height: 15vh;
    display: flex;
    justify-content:center ;
    align-items: center;  
    width: 100vw;
  }
  h1,h2 {
    font-weight: 400;
    color:#F7F7F7;
    margin: 0;
    text-transform: uppercase;
  }
  
  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  h2,h3 {
    font-size: 24px;
    line-height: 44px;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
  }

  .container {
    width: 900px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    color:#F7F7F7
    
  }

  section {
    width: 50%;
  }
  footer {
    color:#F7F7F7;
  }

  footer h3 {
    font-size: 18px;
  }
  #user-mess {
    color:#F7F7F7;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
  }
  #astronaut-display {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #astronaut-display img {
    width: 400px;
    border-radius: 10px;
  } 

  #bio{
    text-align: left;
  }

  #contact{
    color: #F7F7F7;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  #country-flag {
    width: 25%;
  }

  #country-name {
    color:#F7F7F7;
    text-transform: uppercase;
  }

  #flag-country {
    display: flex;
    justify-content: space-evenly;
  }

  #text-info {
    text-align: center;
    font-weight: 400;
  }
  #btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #refresh-button {
    background-color: #F7F7F7;
    color: #690500;
    text-transform: uppercase;
    border: 4px solid #690500;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    height: 44px;
    margin-top: 20px;
    padding: 0 20px;
  }

  #refresh-button:hover {
    background-color: #938274; 
    color: #690500;
  }

  table {
    /* font-weight: 400; */
  }